{
    order replace after encode
    order http_cache after replace
}

http://apt.v2raya.org, http://apt.v2raya.mzz.pub {
    reverse_proxy https://v2raya.github.io {
        header_up Host apt.v2raya.org
    }
}

http://mirrors.v2raya.org {
    handle_path /go.sh {
        redir https://hubmirror.v2raya.org/raw/v2fly/fhs-install-v2ray/master/install-release.sh
    }
    handle_path /alpine-go.sh {
        redir https://hubmirror.v2raya.org/raw/v2fly/alpinelinux-install-v2ray/master/install-release.sh
    }
    route /* {
        respond /robots.txt 200 {
            body "User-agent: *
    Disallow: /"
        }
        redir https://v2raya.org
    }
}

http://hub-resource.v2raya.org {
    respond /robots.txt 200 {
        body "User-agent: *
Disallow: /"
    }
    # FIXME: vulnerability
    handle_path /releases/* {
        reverse_proxy https://github-releases.githubusercontent.com {
            header_up Host github-releases.githubusercontent.com
            header_up Referer mirrors.v2raya.org github.com
            header_down Cache-Control "max-age=300"
            transport http {
                tls_server_name github-releases.githubusercontent.com
            }
        }
    }
    # FIXME: vulnerability
    handle_path /objects/* {
            reverse_proxy https://objects.githubusercontent.com {
            header_up Host objects.githubusercontent.com
            header_up Referer mirrors.v2raya.org github.com
            header_down Cache-Control "max-age=300"
            transport http {
                tls_server_name objects.githubusercontent.com
            }
        }
    }
}

http://hubmirror.v2raya.org {
    encode zstd gzip
    replace api.github.com/repos/v2fly/ hubmirror.v2raya.org/api/v2fly/
    replace github.com/v2fly/ hubmirror.v2raya.org/v2fly/
    replace raw.githubusercontent.com/v2fly/ hubmirror.v2raya.org/raw/v2fly/
    replace raw.githubusercontent.workers.dev/v2fly/ hubmirror.v2raya.org/raw/v2fly/
    replace re "github\.com/v2fly/(.+?)/raw/" "hubmirror.v2raya.org/raw/v2fly/$1/"
    
    replace api.github.com/repos/v2rayA/ hubmirror.v2raya.org/api/v2rayA/
    replace github.com/v2rayA/ hubmirror.v2raya.org/v2rayA/
    replace raw.githubusercontent.com/v2rayA/ hubmirror.v2raya.org/raw/v2rayA/
    replace raw.githubusercontent.workers.dev/v2rayA/ hubmirror.v2raya.org/raw/v2rayA/
    replace re "github\.com/v2rayA/(.+?)/raw/" "hubmirror.v2raya.org/raw/v2rayA/$1/"

    replace api.github.com/repos/mzz2017/ hubmirror.v2raya.org/api/mzz2017/
    replace github.com/mzz2017/ hubmirror.v2raya.org/mzz2017/
    replace raw.githubusercontent.com/mzz2017/ hubmirror.v2raya.org/raw/mzz2017/
    replace raw.githubusercontent.workers.dev/mzz2017/ hubmirror.v2raya.org/raw/mzz2017/
    replace re "github\.com/mzz2017/(.+?)/raw/" "hubmirror.v2raya.org/raw/mzz2017/$1/"

    @whitelist {
        path /v2fly/* /v2fly
        path /v2rayA/* /v2rayA
        path /mzz2017/* /mzz2017
    }
    handle @whitelist {
        reverse_proxy https://github.com {
            header_up Host github.com
            header_up Referer mirrors.v2raya.org github.com
            header_up Accept-Encoding identity
            transport http {
                tls_server_name github.com
            }
            header_down Location github-releases.githubusercontent.com hub-resource.v2raya.org/releases
            header_down Location objects.githubusercontent.com hub-resource.v2raya.org/objects
            header_down Location raw.githubusercontent.com/ hubmirror.v2raya.org/raw/
            header_down Location github.com hubmirror.v2raya.org
            header_down Set-Cookie github.com hubmirror.v2raya.org
            header_down -Content-Security-Policy
            header_down -Expect-Ct
            header_down X-Pjax-Url github.com hubmirror.v2raya.org
        }
    }
    @orgs_whitelist {
        path /orgs/v2rayA/* /orgs/v2rayA
        path /orgs/v2fly/* /orgs/v2fly
    }
    handle @orgs_whitelist {
        reverse_proxy https://github.com {
            header_up Host github.com
            header_up Referer mirrors.v2raya.org github.com
            header_up Accept-Encoding identity
            transport http {
                tls_server_name github.com
            }
            header_down Location github-releases.githubusercontent.com hub-resource.v2raya.org/releases
            header_down Location objects.githubusercontent.com hub-resource.v2raya.org/objects
            header_down Location github.com hubmirror.v2raya.org
            header_down Set-Cookie github.com hubmirror.v2raya.org
            header_down -Content-Security-Policy
            header_down -Expect-Ct
            header_down X-Pjax-Url github.com hubmirror.v2raya.org
        }
    }
    handle_path /api/v2rayA/dist-v2ray-rules-dat/tags {
        rewrite * /repos/v2rayA/dist-v2ray-rules-dat/tags
        reverse_proxy https://api.github.com {
            header_up Host api.github.com
            header_up Accept-Encoding identity
            header_up Referer mirrors.v2raya.org github.com
            header_down -x-ratelimit-limit
            header_down -x-ratelimit-remaining
            header_down -x-ratelimit-used
            header_down -x-ratelimit-resource
            header_down -x-ratelimit-reset
            transport http {
                tls_server_name api.github.com
            }
        }
        http_cache {
            default_max_age 10m
            cache_type in_memory
            match_path /
        }
    }
    handle_path /raw/mzz2017/* {
        rewrite * /mzz2017{path}
        reverse_proxy https://raw.githubusercontent.com {
            header_up Host raw.githubusercontent.com
            header_up Accept-Encoding identity
            header_up Referer mirrors.v2raya.org github.com
            transport http {
                tls_server_name raw.githubusercontent.com
            }
        }
    }
    handle_path /raw/v2fly/* {
        rewrite * /v2fly{path}
        reverse_proxy https://raw.githubusercontent.com {
            header_up Host raw.githubusercontent.com
            header_up Accept-Encoding identity
            header_up Referer mirrors.v2raya.org github.com
            transport http {
                tls_server_name raw.githubusercontent.com
            }
        }
    }
    handle_path /raw/v2rayA/* {
        rewrite * /v2rayA{path}
        reverse_proxy https://raw.githubusercontent.com {
            header_up Host raw.githubusercontent.com
            header_up Accept-Encoding identity
            header_up Referer mirrors.v2raya.org github.com
            transport http {
                tls_server_name raw.githubusercontent.com
            }
        }
    }
    route /* {
        respond /robots.txt 200 {
            body "User-agent: *
    Disallow: /"
        }
        redir https://v2raya.org temporary   
    }
}
